
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 font-family: 'Poppins', sans-serif; 

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("/static/ERROR.jpeg");
    background-repeat: no-repeat; /* Prevents the background image from repeating */
  background-size: cover; /* Ensures the background image covers the entire element */
  background-position: center;

}


.button {
    width: 450px;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1) ;
    cursor: pointer;
    font-size: 16px;
    color: #333 ;
    font-weight: 600;
    margin-top: 5%;
    display: block;
    margin: 0 auto;
  
  }


h2 {
    font-size: 6em;
    font-weight: 500;
    color: #222;
    letter-spacing: 5px;
    cursor: pointer;
    margin-bottom: 55px;

}

