/* Font Face */
@font-face {
  font-family: myFont;
  src: url('SoufianFont.otf');
}

/* Animation */
@keyframes container2 {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

/* Global Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("https://i.ibb.co/xJM1QbP/soso.png") no-repeat center/cover;
  font-family: myFont; /* Apply custom font to the whole document */
}

/* Title Styles */
.title {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: medium; /* Consider using specific font sizes like px or rem */
  margin-bottom: 10px;
}

/* Container Styles */
.container2 {
  /* color: aliceblue; */
  border-radius: 10px;
  padding: 13px 30px;
  max-width: 95%;
  animation: container2 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

#outputBox {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(9px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #fff;
  border-radius: 10px;
  padding: 10px 25px;
  max-width: 100%;
  max-height: 80vh;
  overflow: auto;
}

/* Button Styles */
.button_back {
  width: 145px;
  height: 45px;
  background: #fff;
  border: none;
  /* outline: none; */
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #212121;
  font-weight: 600;
  display: block;
  margin: 10px auto 0; /* Simplified margin */
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(rgba(0, 98, 249, 1), rgba(98, 158, 254, 1));
  border-radius: 10px;
}


button {
 

  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 300ms ;
  overflow: hidden;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%; /* Start from the middle */
  transform: translateX(-50%); /* Center horizontally */
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 300ms /* Sync with button hover */
}

button:hover {
  color: #fff;
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27); /* Ensure box-shadow remains consistent */
}

button:hover::before {
  width: 100%; /* Expand beyond the button width */
  transform: translateX(-50%); /* Center the expansion */
}
