@font-face {
  font-family: myFont;
  src: url(SoufianFont.otf)
}



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("https://img.freepik.com/free-vector/abstract-geometric-shapes-background_23-2148335332.jpg?t=st=1717579119~exp=1717582719~hmac=7b99bb605d1724ee4a0e59de3eff6e757bf48e2471e02f145512039640823736&w=1380");
  background-repeat: no-repeat; /* Prevents the background image from repeating */
  background-size: cover; /* Ensures the background image covers the entire element */
  background-position: center;
}



.container {
 background: transparent;
 border: 2px solid rgba(255, 255, 255, .2);
 backdrop-filter: blur(7px);
 box-shadow: 0 0 10px rgba(0, 0, 0, .2);
 color: aliceblue;
 border-radius: 10px;
  padding: 25px  30px;

}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 8%;
  font-size: 35px;
  font-family: myFont;
}


.container #inputText {
  margin-top: 30px ;
  margin-bottom: 20px;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 15px;
  font-size: 14px;
  color: #fff;
  padding: 20px 45px 20px 20px;
  width: 100%;
  height: 155px;
  resize: none
}

.container #inputText::placeholder {
  font-family: myFont;
  font-size: smaller;
  color: #fff;
}

.button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1) ;
  cursor: pointer;
  font-size: 16px;
  color: #333 ;
  font-weight: 600;
  margin-top: 5%;

}

#checkFont select {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333 ;
  font-weight: 600;
}

.icon {
  width: 55%; 
  height: 55%;
  display: block;
  margin: 0 auto;
}

.error {
  text-align: center;
  font-family: myFont;
  margin-bottom: 8px;
  
}

::-webkit-scrollbar {
  width: 10px;
}

 ::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
 }

 ::-webkit-scrollbar-thumb {
  background: linear-gradient( rgba(0,98,249,1) , rgba(98,158,254,1) )  ;
  border-radius: 10px;
 }

 .center-select {
  text-align: center;
}
