<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon"  href="../static/01icon.png">
        <link rel="stylesheet" type="text/css" href="/static/asciiStayles.css">
        <title>S7 Ascii Art</title>

    </head>
<body>
    <div class="container1">
        <h1 class="title">Output</h1>
    <div class="box" id="outputBox">
        
        <pre id="outputText" readonly>{{.Output}}</pre>
    </div>
    <form action="/" method="get">
        <button  class="button_back" type="submit">Return Home</button>
    </form>

</div>


</body>
</html>