<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"  href="../static/imgs/01icon.png">
    <link rel="stylesheet" type="text/css" href="/static/error.css">
    <title>ERROR | 404 page</title>
</head>
<body>
    <center>
        <h2>ERROR 𝟰𝟬𝟰</h2>
        <form action="/">
            <button  class="button" type="submit">Return Home</button>
        </form>
    </center>
</body>
</html>