<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/imgs/01icon.png">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Ascii Art | Home Page</title>
</head>

<body>


    <div class="soufian">
        <h1 class="title">ASCII ART WEB</h1>
        <div class="container">
    

            <div class="box" id="inputBox">
                <img src="/static/imgs/icon.png" alt="icon Zone 01 Oujda" class="icon">

                <form action="/ascii-art" method="post">

                    <textarea id="inputText" name="inputTextName" placeholder="Enter your input..."></textarea>

                    <div class="error">{{.ErrorMsg}}</div>

                    <ul id="checkFont">
                        <select name="Banners" id="selectOption" class="center-select">
                            <option value="soufian">3D Standard</option>
                            <option value="standard">Standard</option>
                            <option value="shadow">Shadow</option>
                            <option value="thinkertoy">Thinkertoy</option>

                        </select>
                        <br>
                        <button id="submitBoutton" class="button" role="button">submit</button>
                    </ul>
                </form>
            </div>
        </div>
    </div>

</body>

</html>